nav {
    display: flex;
    margin: 15px;
}

.nav-item {
    font-family:'Poppins', 'Arial', sans-serif;
    font-size: 36px;
    color: #3E824B;
    letter-spacing: 3px;
    padding: 16px 32px;
    align-items: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}
.Main-Logo {
    display: flex;
    width: 450px;
    height: 253px;
}

ul li { 
    display: inline;
    width: 50%;
    margin-left: auto;
    list-style-type: none;
}
.social-logo {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px;
}
.Hero-section {
    align-items: center;
    height: 600px;
    padding: 25px;
}
.gridContainer {
   display: inline-grid;
   column-gap: 50px;
   row-gap: 50px;
   padding:15px;
}

.square {
    display: inline-block;
    height: 400px;
    width: 400px;
}
.footerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.rectangle {
    height: 90px;
    width: 1440px;
    text-align: center;
}
.HanBlue {
    background-color: #586BCF;
  }
  .Bubblegum {
    background-color: #F89FEA;
  }
  .Amazon {
      background-color: #3E824B;
  }
  .Strawberry {
      background-color: #E66B6B;
  }
  .Tangerine {
    background-color: #F49A67;
  }
  .TangerineLight {
      background-color: rgba(244, 154, 103, .3)
  }
